<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>formulario</title>
    </head>
    <body>
        <h1>Login</h1>
        <% if(locals.errors){ errors.forEach(error =>{%>
        <p><%= error.msg %></p>
        <%}) }%>

        <form action="/login" method="post">
            <input type="email" name="email" value="<%= locals.old && old.email
            ? old.email : " "%>"placeholder="email" />
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="Enviar" />
        </form>
    </body>
</html>
